body{
	padding-left:200px; 
	padding-right:200px;
	font-family:Roboto, Arial;
	background-color: white;
}
#container{
	font-size:32px;
	margin: 100px auto;
	width : 768px;
}
h1{
	text-align:center;
	color:#333;
	margin-bottom:20px;
}
#calculator, #number{
	border-radius:3px;
	padding: 5px;
	margin: 10px auto;
}
#calculator, #refresh{
	cursor: default;
	text-align: center;
	padding:7px 12px;
	font-size:20px;
	color:#FFF;
	font-weight:bold;
	display:inline-block;
	border-top:1px solid #777;
	width:220px;
	background: linear-gradient(#9D2121 0%, #010101 100%);
	box-shadow:0 2px 6px rgba(0,0,0, .8);
}
#calculator{
	background-color:#010101;
	width:265px;
	border: none;
}
#header{
	padding: 2px;
}
input#number{
	text-align:right;
	background-color: #010101;
	border:none;
	color:#C8C8C8;
	font-size:20px;
}
#body{
	padding:0 10px;
}
.buttons{
	cursor: default;
	text-align: center;
	padding:7px 12px;
	font-size:20px;
	color:#FFF;
	font-weight:bold;
	display:inline-block;
	border-top:1px solid #777;
	width:50px;
	background: linear-gradient(#9D2121 0%, #010101 100%);
	box-shadow:0 2px 6px rgba(0,0,0, .8);
	margin-bottom: 10px;
}
.buttons:hover{
	background: linear-gradient(#FEED01 0%, #FEED01 100%);
	border-top:1px solid #9AD073;
	text-shadow: 0 -1px 1px #008D00;
}
.buttons:active{
	box-shadow:none;
}